.barra-menu{
	background-color: #bd9c74;
	height: 15%;
}

.barra-menu-buttom{
	width: 15%;
}

.pruebajsadd{
	background-color: red;
}

.container-general{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu{
	width: 20%;
	text-align: left;
	margin: 2%;
}

.card-link{
  background-color: transparent;
  text-decoration: none;
	word-wrap: break-word;
}

.links:link {
	font-weight: bold;
  color: black;
  font-size: x-large;
  background-color: transparent;
  text-decoration: none;
	word-wrap: break-word;
}
.links:hover {
 	text-decoration: none;
}

.footer{
	background-color: #BD9C74;
	color:black;
	text-align: center;
	font-size: 250%;
	font-family: "Garamond", Times, serif;
}

.ambrosia{
	opacity: 25%;
	font-weight: bold;
}

.recomendados{
	font-family: "Garamond", serif, monospace;
	background-color:  #e1c09d;
	text-align: center;
	opacity: 90%;
	margin-top: 3%;
}

.imagen{
  width:50%;
  text-align: center;
  border-radius: 10px;
  margin-top: 10%;
}

.carta{
	width: 20%;
  text-align: center;
  border-radius: 10px;
	padding: 15px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 2%;
	background-color: #e5c4a0;
}

.imagensola{
  width: 4%;
}

.linea{
	height:0.5%;
	border-width:0.5%;
	background-color: #A6794A;
}

.titulo{
	word-wrap: break-word;
}

.coment-buttom{
	border: none;
	border-radius: 5px;
	margin-bottom: 1%;
	margin-top: 1%;
}

.log-box{
	margin-left: 40%;
	width: 20%;
  border-radius: 10px;
	background-color: #e5c4a0;
}

.log-item{
	text-align: left;
	margin-left: 5%;
}